{% extends "layout/layout" %}
{% block meta %}
    {{ headTitle('Quản lí đơn hàng').setSeparator(' - ').setAutoEscape(false)|raw }}
    <meta property="og:title" content="Quản lí đơn hàng">
    <meta property="og:url" content="{{ getCurrentUrl() }}">
{% endblock %}
{% block body %}
    {% set level = 0 %}
    {% set point = 0 %}
    {% if user is not empty %}
        {% set customer = getCustomerStore({'mobile':user.mobile}) %}
        {% if customer is not empty %}
            {% if customer.points > 0 %}
                {% set point = customer.points %}
            {% endif %}
            {% set level = customer.levelName %}
        {% endif %}
    {% endif %}
    <div class="wrapper userWrapper">
        <div class="container">
            {% set banner_breadcrumb = getCurrentBannerByCode('BANNER_BREADCRUMB',{'limit':1}) %}
            {% if(banner_breadcrumb is not empty) %}
                {% set banner = banner_breadcrumb | first %}
                {% set banner_link = banner.imageSrc %}
            {% else %}
                {% set banner_link = 'https://dummyimage.com/1570x165/fee9b0/fff'%}
            {% endif %}
            <section class="bread-crumb"
                     style="background: linear-gradient(0deg, rgba(0,0,0,0), rgba(0,0,0,0)),  url('{{ banner_link }}') center no-repeat">
                <p class=" breadcrumb breadcrumb-title">{{ translate('Quản lí đơn hàng') }}</p>
                {% set buildBread  = [{'label': translate('Quản lí đơn hàng'), 'uri':'/order'}] %}
                {{ render_breadcrumb(buildBread ) }}
            </section>
            <section class="users">
                <div class="row">
                    <div class="col-lg-3 account-option">
                        <h5>{{ translate('trang tài khoản') }}</h5>
                        <div class="fw-bold">{{ translate('Xin chào,') }}
                            <p class="d-inline" style="color:#01567f">{{ user.fullName }}</p>
                        </div>
                        <div class="mb-3">
                            <div class="text-warning">
                                <i class="fa-sharp fa-solid fa-trophy-star"></i>
                                {{ translate('Hạng thành viên: ') }}{{ level }}
                            </div>
                            <div class="text-info">
                                <i class="fa-solid fa-hundred-points"></i>
                                {{ translate('Điểm tích lũy: ') }}{{ point }}
                            </div>
                        </div>
                        <ul class="account-option_list">
                            <li><a href="/profile" class="s-popularLink">{{ translate('Thông tin tài khoản') }}</a></li>
                            <li><a href="/order" class="s-popularLink active">{{ translate('Đơn hàng của bạn') }}</a></li>
                            <li><a href="/profile/changepassword" class="s-popularLink">{{ translate('Đổi mật khẩu') }}</a></li>
                            <li><a href="/user/signout" class="s-popularLink">{{ translate('Đăng xuất') }}</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-9 account-option">
                        <h5>{{ translate('đơn hàng của bạn') }}</h5>
                        <div class="fw-bold mb-3"></div>
                        {% if(paginator is not empty) %}
                            <table class="table table-bordered table-striped order-list text-center">
                                <thead>
                                <tr>
                                    <th scope="col">{{ translate('Đơn hàng') }}</th>
                                    <th scope="col">{{ translate('Ngày') }}</th>
                                    <th scope="col">{{ translate('Địa chỉ') }}</th>
                                    <th scope="col">{{ translate('Giá trị đơn hàng') }}</th>
                                    <th scope="col">{{ translate('TT đơn hàng') }}</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for order in paginator %}
                                    {% set totalOrderPrice = 0 %}
                                    {% set _order = orders[order.id] %}
                                    {% set products = _order.products %}
                                    {% if(products is not empty) %}
                                        {% for pOrder in products %}
                                            {% set totalOrderPrice = totalOrderPrice + (pOrder.quantity * pOrder.price) %}
                                        {% endfor %}
                                    {% endif %}
                                    <tr>
                                        <th scope="row">
                                            <a href="#" class="text-decoration-none _orderDetails" data-id="{{ order.id }}" data-bs-toggle="modal" data-bs-target="#modalOrderDetails">
                                                #{{ order.id }}</a>
                                        </th>
                                        <td>{{ order.createdDate | date("d/m/Y") }}</td>
                                        <td>{{ _order.customerAddress }}, {{ _order.options['districtName'] }}, {{ _order.options['cityName'] }}</td>
                                        <td>{{ totalOrderPrice | number_format(0) }}<sup>₫</sup></td>
                                        <td>{{ order.statuses[_order.status] }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        {% else %}
                            <div class="section-item p-5 bg-white text-center w-100">
                                <div class="fw-medium mt-4 mb-4">{{ translate('Bạn chưa có đơn hàng nào') }}!</div>
                                <a href="/" class="btn-no-cart">{{ translate('Tiếp tục mua sắm') }}</a>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </section>
        </div>
    </div>
{% endblock %}