{% extends "layout/layout" %}
{% block meta %}
    {{ headTitle('Đổi mật khẩu').setSeparator(' - ').setAutoEscape(false)|raw }}
    <meta name="description" content="Đổi mật khẩu tài khoản">
    <meta name="keywords" content="Đổi mật khẩu tài khoản">
    <meta property="og:url" content="{{ getCurrentUrl() }}">
    <meta property="og:title" content="Đổi mật khẩu tài khoản">
    <link rel="canonical" href="{{  getCurrentUrl() }}">
{% endblock %}

{% block body %}
    {% set level = 0 %}
    {% set point = 0 %}
    {% if user is not empty %}
        {% set customer = getCustomerStore({'mobile':user.mobile}) %}
        {% if customer is not empty %}
            {% if customer.points > 0 %}
                {% set point = customer.points %}
            {% endif %}
            {% set level = customer.levelName %}
        {% endif %}
    {% endif %}
    {% set cookies = getCookies('nuctk') %}
    <div class="wrapper userWrapper">
        <div class="container">
            {% set banner_breadcrumb = getCurrentBannerByCode('BANNER_BREADCRUMB',{'limit':1}) %}
            {% if(banner_breadcrumb is not empty) %}
                {% set banner = banner_breadcrumb | first %}
                {% set banner_link = banner.imageSrc %}
            {% else %}
                {% set banner_link = 'https://dummyimage.com/1570x165/fee9b0/fff'%}
            {% endif %}
            <section class="bread-crumb"
                     style="background: linear-gradient(0deg, rgba(0,0,0,0), rgba(0,0,0,0)),  url('{{ banner_link }}') center no-repeat">
                <p class=" breadcrumb breadcrumb-title">{{ translate('Thay đổi mật khẩu') }}</p>
                {% set buildBread  = [{'label': translate('Thay đổi mật khẩu'), 'uri':'/profile/changepassword'}] %}
                {{ render_breadcrumb(buildBread ) }}
            </section>
            <section class="users">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="account-option">
                            <h5>{{ translate('trang tài khoản') }}</h5>
                            <div class="fw-bold">{{ translate('Xin chào,') }}
                                <p class="d-inline" style="color:#01567f">{{ user.fullName }}</p>
                            </div>
                            <div class="mb-3">
                                <div class="text-warning">
                                    <i class="fa-sharp fa-solid fa-trophy-star"></i>
                                    {{ translate('Hạng thành viên: ') }}{{ level }}
                                </div>
                                <div class="text-info">
                                    <i class="fa-solid fa-hundred-points"></i>
                                    {{ translate('Điểm tích lũy: ') }}{{ point }}
                                </div>
                            </div>
                            <ul class="account-option_list">
                                <li><a href="/profile" class="s-popularLink">{{ translate('Thông tin tài khoản') }}</a></li>
                                <li><a href="/order" class="s-popularLink">{{ translate('Đơn hàng của bạn') }}</a></li>
                                <li><a href="/profile/changepassword" class="s-popularLink active">{{ translate('Đổi mật khẩu') }}</a></li>
                                <li><a href="/user/signout" class="s-popularLink">{{ translate('Đăng xuất') }}</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-9">
                        <div class="account-option col-6">
                            <h5>{{ translate('Đổi mật khẩu') }}</h5>
                            <div class="mb-3">
                                {{ message ? message|raw : "<p>Để đảm bảo tính bảo mật bạn vui lòng đặt lại mật khẩu với ít nhất 8 kí tự</p>" }}
                            </div>
                            {{ partial('partial/form',{'form':form}) }}
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
{% endblock %}