{% extends "layout/layout" %}
{% block meta %}
    {{ headTitle('Chỉnh sửa trang cá nhân').setSeparator(' - ').setAutoEscape(false)|raw }}
    <meta name="description" content="Chỉnh sửa trang cá nhân">
    <meta name="keywords" content="Chỉnh sửa trang cá nhân">
    <meta property="og:url" content="{{ getCurrentUrl() }}">
    <meta property="og:title" content="Chỉnh sửa trang cá nhân">
    <link rel="canonical" href="{{  getCurrentUrl() }}">
{% endblock %}

{% block body %}
    {% set level = 0 %}
    {% set point = 0 %}
    {% if user is not empty %}
        {% set customer = getCustomerStore({'mobile':user.mobile}) %}
        {% if customer is not empty %}
            {% if customer.points > 0 %}
                {% set point = customer.points %}
            {% endif %}
            {% set level = customer.levelName %}
        {% endif %}
    {% endif %}
    {% set cookies = getCookies('nuctk') %}
    <div class="wrapper userWrapper">
        <div class="container">
            {% set banner_breadcrumb = getCurrentBannerByCode('BANNER_BREADCRUMB',{'limit':1}) %}
            {% if(banner_breadcrumb is not empty) %}
                {% set banner = banner_breadcrumb | first %}
                {% set banner_link = banner.imageSrc %}
            {% else %}
                {% set banner_link = 'https://dummyimage.com/1570x165/fee9b0/fff'%}
            {% endif %}
            <section class="bread-crumb"
                     style="background: linear-gradient(0deg, rgba(0,0,0,0), rgba(0,0,0,0)),  url('{{ banner_link }}') center no-repeat">
                <p class=" breadcrumb breadcrumb-title">{{ translate('Chỉnh sửa trang cá nhân') }}</p>
                {% set buildBread  = [{'label': translate('Chỉnh sửa trang cá nhân'), 'uri':'/profile/edit'}] %}
                {{ render_breadcrumb(buildBread ) }}
            </section>
            <section class="users">
                <div class="row">
                    <div class="col-lg-3">
                        <h5>{{ translate('trang tài khoản') }}</h5>
                        <div class="fw-bold">{{ translate('Xin chào,') }}
                            <p class="d-inline" style="color:#f93">{{ user.fullName }}</p></div>
                        <div class="mb-3">
                            <div class="text-warning">
                                <i class="fa-sharp fa-solid fa-trophy-star"></i>
                                {{ translate('Hạng thành viên: ') }}{{ level }}
                            </div>
                            <div class="text-info">
                                <i class="fa-solid fa-hundred-points"></i>
                                {{ translate('Điểm tích lũy: ') }}{{ point }}
                            </div>
                        </div>
                        <ul class="account-option_list">
                            <li><a href="/profile" class="s-popularLink active">{{ translate('Thông tin tài khoản') }}</a></li>
                            <li><a href="/order" class="s-popularLink">{{ translate('Đơn hàng của bạn') }}</a></li>
                            <li><a href="/profile/changepassword" class="s-popularLink">{{ translate('Đổi mật khẩu') }}</a></li>
                            <li><a href="/user/signout" class="s-popularLink">{{ translate('Đăng xuất') }}</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-9">
                        <div class="account-option col-6">
                            <h5>{{ translate('Cập nhật thông tin cá nhân') }}</h5>
                        </div>
                        <div class="edit-profile_form col-12">
                            <form class="d-flex" method="post">
                                <input type="hidden" value="{{ cookies ?? '' }}" name="userCommonCsrf">
                                <div class="col-12 pe-12">
                                    <div class="d-flex align-items-center mb-3 flex-wrap">
                                        <label for="name" class="col-3">{{ translate('Họ và tên') }}</label>
                                        <div class="col-9">
                                            <input type="text" class="form-control" disabled placeholder="{{ translate('Họ và tên') }}" name="name" id="name" value="{{ user.fullName }}">
                                        </div>
                                    </div>
                                    <div class="d-flex align-items-center mb-3 flex-wrap">
                                        <label for="sex" class="col-3">{{ translate('Giới tính') }}</label>
                                        <div class="col-9 d-flex align-items-center gap-4">
                                            {% set gender = [1,2] %}
                                            {% for value in gender %}
                                                {% set checked = '' %}
                                                {% if user.gender == value %}
                                                    {% set checked = 'checked' %}
                                                {% endif %}
                                                <div class="form-check">
                                                    <input aria-label="check" class="form-check-input" {{ checked }} value="{{ value }}" type="radio" name="gender" >
                                                    <label class="form-check-label">
                                                        {% if(value == 1) %}
                                                            {{ translate('Nam') }}
                                                        {% else %}
                                                            {{ translate('Nữ') }}
                                                        {% endif %}
                                                    </label>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <div class="d-flex align-items-center mb-3 flex-wrap">
                                        <label for="birthday" class="col-3">{{ translate('Ngày sinh') }}</label>
                                        <div class="col-9">
                                            <input type="date" class="form-control" name="birthday"  id="birthday" value="{{ user.birthday }}">
                                        </div>
                                    </div>
                                    <div class="d-flex align-items-center justify-content-between mb-3 custom">
                                        <span class="textgrey col-2">{{ translate('Số điện thoại') }}</span>
                                        <span class="col-9">
                                    <input aria-label="mobile" type="text" class="form-control" name="mobile" id="mobile" value="{{ user.mobile }}">
                                </span>
                                    </div>
                                    <div class="d-flex align-items-center justify-content-between mb-3 custom">
                                        <span class="textgrey col-2">Email</span>
                                        <span class="col-9">
                                    <input aria-label="email" type="text" class="form-control" disabled name="email" id="email" value="{{ user.email }}">
                                </span>
                                    </div>
                                    <div class="d-flex align-items-center justify-content-between mb-3 custom">
                                        <span class="textgrey col-2">{{ translate('Địa chỉ') }}</span>
                                        <span class="col-9">
                                    <input aria-label="address" type="text" class="form-control" name="address" id="address" value="{{ user.address }}">
                                </span>
                                    </div>
                                    <div class="text-end mt-3">
                                        <button type="submit" class="btn-update d-inline-block">{{ translate('Cập nhật') }}</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
{% endblock %}